<%- include('partials/header.ejs'); -%>

<main>
<form class="list-tab" action="./" method="get">
  <% lists.forEach(function(list) { %>
    <button type="submit" name="list" value="<%= list.id %>" style="background-color: <%= list.color %>;" class="list-btn">
      <%= list.name %> 
    </button>
  <% }) %>
</form>

<form class="list-tab" action="/newList" method="post">  
  <button type="submit" name="add" value="new" id="tab" class="new-list-btn list-btn">
    <span>Add New List </span>
  </button> 
  
</form>



<div class="container">
  <div class="heading" id="heading">
    <div class="heading-img"><img src="/assets/icons/laptop.svg" alt="laptop image"> </div>
    <h1>
      <%= locals.listTitle %>
    </h1>
  </div>
  <div class="form box list-box">
    <form class="new-item" action="/add" method="post">
      <input class="form-input" type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />
      <button class="add" type="submit" name="list" value=<%= listId %> > <span>Submit</span> </button>
    </form>

    <% for(let item of listItems){%>
      <div class="item">
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
          <input type="hidden" name="listId" value="<%= listId %>">
        </form>

        <p id="title<%=item.id%>">
          <%= item.title %>
        </p>

        <form class="edit" action="/edit" method="post">
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">
          <input type="hidden" name="listId" value="<%= listId %>">
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
              src="/assets/icons/check-solid.svg" alt="tick image"></button>
        </form>
        <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
            src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
      </div>
      <% } %>

       
      </div>
    </div>
    </main>


  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>
  <%- include('partials/footer.ejs'); -%>